/* @import "tailwindcss";
 */
@import "tailwindcss";
@import "./components/spinners.css";
@import "./components/button.css";

@layer base {
  :root {
    --font-body: "Anta", sans-serif;
    --font-heading-variant: "Anton", sans-serif;
  }

  button{
    cursor: pointer;
  }

  .body-font,
  html,
  body {
    font-family: var(--font-body);
    font-weight: normal;
    font-style: normal;
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 0.2em;
    font-weight: 400;
  }
}

#game-root {
  position: absolute;
  top: 0;
  left: 0;
}

#root {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}

@layer utilities {
  .bg-ui-gradient {
    position: relative;
    z-index: 0;
    background-image: linear-gradient(to bottom, #0a0c0f 0%, #16151c 40%, #16151c 50%, #15090c 75%, #150000 100%);
  }

  .bg-ui-gradient::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("/assets/ui/texture.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    opacity: 0.3;
    z-index: -1;
  }
}
@utility body-font{
  font-family: var(--font-body);
}
@utility heading-font-variant{
  font-family: var(--font-heading-variant);
}


@utility modal-title{
  font-family: monospace;
  @apply text-white uppercase heading-font-variant  text-2xl md:text-3xl lg:text-4xl xl:text-5xl my-6;
}



.stroke-content {
  --stroke-width: 12px;
  position: relative;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: calc(1.25rem + var(--stroke-width));
  background: #0a0c0f;
  background: -webkit-linear-gradient(to bottom, #0a0c0f 0%, #16151c 40%, #16151c 50%, #15090c 75%, #150000 100%);
  background: linear-gradient(to bottom, #0a0c0f 0%, #16151c 40%, #16151c 50%, #15090c 75%, #150000 100%);
}

.stroke-content::after {
  content: "";
  position: absolute;
  inset: 0;
  border: var(--stroke-width) solid transparent;
  border-image-source: url("/assets/ui/stroke-shape.svg");
  border-image-slice: 25;
  border-image-width: 1;
  border-image-repeat: stretch;
  box-sizing: border-box;
  pointer-events: none;
  z-index: 2;
}

.stroke-content > * {
  position: relative;
  z-index: 1;
}
